---
import { getCollection } from 'astro:content'
import styles from './Accordion.module.scss'

const faqs = await getCollection('faq')

const sorted = faqs
  .sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0))
---

<section class={styles.accordion} x-data>
  {sorted.map(async (item) => {
    const { Content } = await item.render()

    return (
      <div
        class={styles.item}
        x-data="{ open: false }"
        :class="{ ['${styles.isOpen}']: open }"
      >
        <button
          class={styles.header}
          @click="open = !open"
          :aria-expanded="open"
        >
          <span>{item.data.question}</span>
          <span class={styles.icon}>+</span>
        </button>

        <div
          class={styles.content}
          x-show="open"
          x-collapse
        >
          <div class={styles.body}>
            <Content />
          </div>
        </div>
      </div>
    )
  })}
</section>
