---
import styles from './Card.module.scss'

export interface Props {
  image: {
    alt: string
    fallbackSrc: string
    sources?: any[]
  }
  title: string
  description: string
  href?: string
  clickable?: boolean
}

import Image from '@/components/ui/Image/Image.astro'
import Button from '../Button/Button.astro'

const {
  image,
  title,
  description,
  href,
  clickable = false,
} = Astro.props

// Limita descrição a 50 caracteres
const limitedDescription =
  description.length > 50
    ? description.slice(0, 50).trim() + '...'
    : description

const Wrapper = clickable && href ? 'a' : 'div'
---

<Wrapper
  href={clickable ? href : undefined}
  class={[
    styles.card,
    clickable ? styles['card--clickable'] : ''
  ].join(' ')}
>
  <div class={styles.card__image}>
    <Image
      alt={image.alt}
      fallbackSrc={image.fallbackSrc}
      sources={image.sources}
      coverage="cover"
    />
  </div>

  <div class={styles.card__content}>
    <h3 class={styles.card__title}>{title}</h3>
    <p class={styles.card__description}>{limitedDescription}</p>
    <Button>Saiba Mais</Button>
  </div>
</Wrapper>
